[access]
	inheritFrom = All-Projects
[access "refs/for/refs/heads/*"]
	pushMerge = group Nokia maintainer
[access "refs/heads/*"]
	create = group Nokia maintainer
	push = +force group Nokia maintainer
	pushMerge = group Nokia maintainer
	label-Code-Review = -2..+2 group Nokia maintainer
	label-Verified = -1..+1 group Nokia maintainer
	submit = group Nokia maintainer
